.page {
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(135deg, #c0bdcb00, #b7b6bb02, #a3a9bc00);
  background-size: 200% 200%;
  animation: flow 10s infinite ease;
  color: white;
  font-family: "Segoe UI";
}

@keyframes flow {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.title {font-size: 2.3rem; margin-bottom: 1.5rem;}

.upload-section {display: flex; flex-direction: column; gap: 1rem;}

.upload-box {
  padding: 1.7rem;
  border: 2px dashed #555;
  border-radius: 10px;
  cursor: pointer;
  background: #000000;
  transition: .3s;
}

.upload-box:hover {color: #39ffc4; border-color: #39ffc4;}

.analyze-btn {
  padding: .7rem 2rem;
  background: #deff39;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.status {margin-top: 1rem; color: #39ffc4; animation: pulse 1.3s infinite;}

@keyframes pulse {0%{opacity:.3;}100%{opacity:1;}}

.card {
  background: #1b1f29;
  padding: 1.5rem;
  border-radius: 12px;
  margin-top: 2rem;
}

.highlight {color: #d4ba10;}

.confidence strong {color: #ffd447;}

.score-section {margin-top: 1.5rem;}

.score-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  background: linear-gradient(135deg, #211d38, #ae1f8893);
  color: white;
  border-radius: 8px;
  overflow: hidden;
}

.score-table th,
.score-table td {
  padding: .8rem 1rem;
  border-bottom: 1px solid #cfd20f;
}

.score-table th {background: rgb(188, 114, 11);}

.score-table tr:last-child td {border-bottom: none;}

.score-highlight {color: #ffba39; font-weight: bold;}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: relative;
  z-index: 5;
  backdrop-filter:(1px);
}
